
@{
    ViewBag.Title = "ByteStore - Sin Autorización";
}

<div class="text-center">
    <h2 class="mb-4 text-white">No Autorizado</h2>

    <img class="rounded-4" style="max-height:400px; max-width:auto" alt="icon" src="~/img/No_Autorizado.png" />
    <hr class="mb-4" />

    <input type="button" value="Regresar" class="btn btn-warning" onclick="goBack()" />
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>