
@{
    ViewBag.Title = "ByteStore - Sin Autorización";
}

<div class="text-center">
    <h2 class="mb-4">No Autorizado</h2>
    <input type="button" value="Regresar" class="btn btn-warning" onclick="goBack()" />
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>