@model IEnumerable<Infraestructure.Models.Producto>

@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>
<p>Gran variedad a tu alcance</p>

<div class="row">git
    <div class="col-lg-3">
        <form class="d-flex">
            <input class="form-control me-sm-2" type="search">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
    <div class="col-lg-3">
  

        <div class="form-select">
            @*Cargar lista Categorías*@
            @foreach (var categoria in (List<Infraestructure.Models.Categoria>)ViewBag.listaCategoria)
            {
                <button class="list-group-item filtercategoria" data-id="@categoria.IdCategoria">@categoria.Descripcion</button>
            }


        </div>
    </div>
</div>