/* BEGIN EXTERNAL SOURCE */
div {
background-color: rgba(74, 46, 17, 0.9); 
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
 SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
height:75px;width:75px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

    .control-label {
        color: white;
    }

/* END EXTERNAL SOURCE */
