@{
    ViewBag.Title = "ByteStore - Contactos";
}

<div class="d-md-flex justify-content-md-center mb-4">
    <h2 class="w-auto text-center bg-primary text-light fw-bold p-3 rounded-4">Contáctos</h2>
</div>

<h3 class="text-center">Si necesitas ayuda puedes contactarnos por cualquiera de estos medios</h3>

<hr class="m-5" />

<div class="row">
    <div class="col-md-6">
        <div class="card text-white p-3 rounded-4 bg-info mb-3">
            <i class="fa-solid fa-phone fa-2xl m-3 shadow-lg"></i>
            <div class="card-body">
                <h3 class="card-title">Teléfono</h3>
                <p class="card-text fs-4 fw-bold">+506 2556-8500</p>
            </div>

        </div>
    </div>

    <div class="col-md-6">
        <div class="card text-white p-3 rounded-4 bg-info mb-3">
            <i class="fa-solid fa-envelope fa-2xl m-3 shadow-lg"></i>
            <div class="card-body">
                <h3 class="card-title">E-mail</h3>
                <p class="card-text fs-4 fw-bold">info@bytestore.com</p>
            </div>

        </div>
    </div>

</div>