@model Infraestructure.Models.Direccion


<div class=" row col-md-12">
    <h3>Dirección</h3>
    <p>Puede ser más de una dirección</p>


    <div class="row col-md-5">
        <div class="col-md-4 mb-4">
            <select class="form-select col-md" id="Provincia">
                <option value="-1" class="active provincia">Provincia</option>


            </select>

        </div>

        <div class="col-md-4 mb-4">
            <select class="form-select col-md" id="Canton">
                <option value="-1" class="active canton">Cantón</option>


            </select>

        </div>

        <div class="col-md-4 mb-4">
            <select class="form-select col-md" id="Distrito">
                <option value="-1" class="active distrito">Distrito</option>


            </select>

        </div>

        <div class="form-group col-md-12  mb-4">
            <p>Otras señas</p>

            @Html.TextAreaFor(model => model.Sennas, new { @class = "form-control", @style = "min-height: 50px;", placeholder = "Mi casa 10m oeste del palo de mangos" })
        </div>

        <div class="col-md-2 mb-4">
            <input type="submit" data-id="AgregarDireccion" class="btn btn-primary" value="Agregar" />
        </div>
    </div>

    @Html.ValidationMessageFor(model => model.Sennas, "", new { @class = "text-danger" })



    <div class="col-md-12">

        <div class="col-md-12">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">Provincia</th>
                        <th scope="col">Cantón</th>
                        <th scope="col">Distrito</th>
                        <th scope="col">Otras señas</th>
                        <th scope="col">Acción</th>



                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>

        </div>
    </div>
</div>
