@model IEnumerable<Infraestructure.Models.Telefono>


<table class="table table-hover text-center rounded-4 overflow-hidden p-3">
    <thead class="table-success">
        <tr>
            <th scope="col">Teléfono</th>
            <th scope="col">Tipo</th>
            <th></th>
        </tr>
    </thead>

    <tbody id="TablaTel" class="table-dark">
        @foreach (var tel in Model)
        {
            <tr>
                <td>
                    +506 @string.Format("{0:####-####}", Convert.ToInt32(tel.Numero))
                </td>
                <td>
                    @if (tel.Tipo == false)
                    {
                        <p>Celular</p>
                    }
                    else
                    {
                        <p>Casa</p>
                    }
                </td>
               <td> <button class="btn-warning btn btnEliminarTelefono" data-idtelefono="@tel.IdTelefono"><i class="fa-solid fa-trash"></i></button></td>
            </tr>
        }
    </tbody>
</table>
