@{
    ViewBag.Title = "ByteStore - Tus Ventas y Pedidos";
}

<div class="d-md-flex justify-content-md-center mb-4">
    <h2 class="border border-primary border-3 w-auto text-center text-light fw-bold p-3 rounded-4">
        Tus Ventas y Pedidos
    </h2>
</div>

<h3 class="text-white mb-4 text-center">En este apartado podrás encontrar todos los pedidos de clientes con tus productos</h3>
<hr class="mb-4" />

<div id="infoPedidosVendedor"></div>

@section Scripts {
    
    <script type="text/javascript">


        var estadoEntregaTab = 1;


        $(document).ready(function () {
            $("#loaderSpinner").removeClass("d-none");

            $.ajax({
                method: "GET",
                url: "/Pedido/ListaPedidosVendedor",
                data: { estadoEntrega: estadoEntregaTab },
                success: function (result) {
                    $("#infoPedidosVendedor").html("");
                    $("#infoPedidosVendedor").html(result);
                    $("#loaderSpinner").addClass("d-none");
                },
                error: function (xhr, status, error) {
                    console.log("error" + error, "no Error: " + xhr.status)

                }
            });
        });

        $(document).on('click', '.tab-btn-estadoentrega', function () {
            estadoEntregaTab = $(this).data("estadoentrega");
        });

        $(document).on('click', '.ActualizarEstadoEntregado', function () {

            var idCompraEncabezado = $(this).data('idcompraencabezado');
            var idProducto = $(this).data('idproducto');
            var estadoEntrega = $(this).data('estadoentrega');

            console.log(idCompraEncabezado, idProducto, estadoEntrega)

            $.ajax({
                method: "POST",
                url: "/Pedido/ActualizarEstadoEntregado",
                data: { idCompraEncabezado, idProducto, estadoEntrega },
                success: function (result) {

                    if (result.success) {
                        $("#loaderSpinner").removeClass("d-none");
                        $.ajax({
                            method: "GET",
                            url: "/Pedido/ListaPedidosVendedor",
                            data: { estadoEntrega: estadoEntregaTab },
                            success: function (html) {
                                $("#infoPedidosVendedor").html("");
                                $("#infoPedidosVendedor").html(html);
                                $("#loaderSpinner").addClass("d-none");
                                eval(result.mensaje)
                            },
                            error: function (xhr, status, error) {
                                console.log("error" + error, "no Error: " + xhr.status)

                            }
                        });
                    }
                    
                },
                error: function (xhr, status, error) {
                    console.log("error" + error, "no Error: " + xhr.status)

                }
            });

        });

    </script>    
    
}