@{
    ViewBag.Title = "ByteStore - Tus Ventas y Pedidos";
}

<div class="d-md-flex justify-content-md-center mb-4">
    <h2 class="border border-primary border-3 w-auto text-center text-light fw-bold p-3 rounded-4">
        Tus Ventas y Pedidos
    </h2>
</div>

<h3 class="text-white mb-4 text-center">En este apartado podrás encontrar todos los pedidos de clientes con tus productos</h3>
<hr class="mb-4" />

<div id="infoPedidosVendedor"></div>

<style type="text/css">
    .error {
        color: red;
    }

    .fa-star {
        transition: transform 0.3s;
    }

        .fa-star:hover {
            transform: scale(1.1);
        }
</style>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">


        var estadoEntregaTab = 1;


        $(document).ready(function () {
            $("#loaderSpinner").removeClass("d-none");

            $.ajax({
                method: "GET",
                url: "/Pedido/ListaPedidosVendedor",
                data: { estadoEntrega: estadoEntregaTab },
                success: function (result) {
                    $("#infoPedidosVendedor").html("");
                    $("#infoPedidosVendedor").html(result);
                    $("#loaderSpinner").addClass("d-none");
                },
                error: function (xhr, status, error) {
                    console.log("error" + error, "no Error: " + xhr.status)

                }
            });
        });

        $(document).on('click', '.tab-btn-estadoentrega', function () {
            estadoEntregaTab = $(this).data("estadoentrega");
        });

        $(document).on('click', '.ActualizarEstadoEntregado', function () {

            var idCompraEncabezado = $(this).data('idcompraencabezado');
            var idProducto = $(this).data('idproducto');
            var estadoEntrega = $(this).data('estadoentrega');

            console.log(idCompraEncabezado, idProducto, estadoEntrega)

            $.ajax({
                method: "POST",
                url: "/Pedido/ActualizarEstadoEntregado",
                data: { idCompraEncabezado, idProducto, estadoEntrega },
                success: function (result) {

                    if (result.success) {
                        $("#loaderSpinner").removeClass("d-none");
                        $.ajax({
                            method: "GET",
                            url: "/Pedido/ListaPedidosVendedor",
                            data: { estadoEntrega: estadoEntregaTab },
                            success: function (html) {
                                $("#infoPedidosVendedor").html("");
                                $("#infoPedidosVendedor").html(html);
                                $("#loaderSpinner").addClass("d-none");
                                eval(result.mensaje)
                            },
                            error: function (xhr, status, error) {
                                console.log("error" + error, "no Error: " + xhr.status)

                            }
                        });
                    }

                },
                error: function (xhr, status, error) {
                    console.log("error" + error, "no Error: " + xhr.status)

                }
            });

        });


        $(document).on('click', '.btnCalificarCliente', function () {


            var esOcultar = String($(this).html()).includes("Cancelar");
            var idEvaluador = $(this).data('idevaluador');
            var idEvaluado = $(this).data('idevaluado');
            var idPedido = $(this).data('idpedido');

            if (!esOcultar) {

                var idFormulario = `formEvaluarUsuario${idPedido}`;

                var htmlEvaluación = `
                    <form id="${idFormulario}">
                                    <div class="p-3 rounded-4 bg-body card mb-4 shadow-lg bg-gradient">
                                        <h3 class="card-title text-white-50 mb-2 fs-4">
                                            <input type="radio" id="estrella1${idPedido}" name="Escala" value="1" style="display: none;">
                                            <label for="estrella1${idPedido}"><i id="labelEstrella1${idPedido}" class="fa-regular fa-star estrella${idPedido}" num="1" style="cursor:pointer; color: white;"></i></label>
                                            <input type="radio" id="estrella2${idPedido}" name="Escala" value="2" style="display: none;">
                                            <label for="estrella2${idPedido}"><i id="labelEstrella2${idPedido}" class="fa-regular fa-star estrella${idPedido}" num="2" style="cursor:pointer; color: white;"></i></label>
                                            <input type="radio" id="estrella3${idPedido}" name="Escala" value="3" style="display: none;">
                                            <label for="estrella3${idPedido}"><i id="labelEstrella3${idPedido}" class="fa-regular fa-star estrella${idPedido}" num="3" style="cursor:pointer; color: white;"></i></label>
                                            <input type="radio" id="estrella4${idPedido}" name="Escala" value="4" style="display: none;">
                                            <label for="estrella4${idPedido}"><i id="labelEstrella4${idPedido}" class="fa-regular fa-star estrella${idPedido}" num="4" style="cursor:pointer; color: white;"></i></label>
                                            <input type="radio" id="estrella5${idPedido}" name="Escala" value="5" style="display: none;">
                                            <label for="estrella5${idPedido}"><i id="labelEstrella5${idPedido}" class="fa-regular fa-star estrella${idPedido}" num="5" style="cursor:pointer; color: white;"></i></label>
                                        </h3>
                                        <label id="Escala${idPedido}-error" class="error"></label>
                                        <div class="mb-2">
                                            <label for="CodigoPostal" class="mb-2 form-label"> Escribir comentario</label>
                                            <textarea type="text" id="Comentario${idPedido}" name="Comentario" class="form-control" placeholder="Fue un gran cliente"></textarea>
                                        </div>
                                        <button id="btnEnviarCalificacionCliente${idPedido}" class="btn btn-primary my-2 my-sm-0 shadow-lg" type="submit" form="${idFormulario}">Calificar</button>
                                    </div>
                    </form>
                `;

                var idcontenedor = `#contenedorEvaluacionForm${idPedido}`;

                $(idcontenedor).html("");
                $(idcontenedor).html(htmlEvaluación);


                $(`.estrella${idPedido}`).hover(
                    function () {
                        var numeroEstrella = Number($(this).attr('num'));

                        for (var i = 1; i <= numeroEstrella; i++) {
                            $(`#labelEstrella${i}${idPedido}`).addClass('fa-solid');
                        }
                    },
                    function () {
                        var numeroEstrella = Number($(this).attr('num'));

                        for (var i = 1; i <= numeroEstrella; i++) {
                            $(`#labelEstrella${i}${idPedido}`).removeClass('fa-solid');
                        }
                    }
                );

                $(`.estrella${idPedido}`).on('click',
                    function () {

                        var numeroEstrella = Number($(this).attr('num'));

                        $(`.estrella${idPedido}`).off("mouseenter mouseleave");

                        for (var i = 1; i <= 5; i++) {

                            if (i <= numeroEstrella) {
                                $(`#labelEstrella${i}${idPedido}`).addClass('fa-solid');
                                $(`#labelEstrella${i}${idPedido}`).css('color', 'rgb(255,215,0)');
                            }
                            else {
                                $(`#labelEstrella${i}${idPedido}`).removeClass('fa-solid');
                                $(`#labelEstrella${i}${idPedido}`).css('color', 'white');
                            }
                        }
                    }
                );


                idFormulario = '#' + idFormulario;

                $(idFormulario).validate({
                    errorClass: "error",
                    rules: {
                        Comentario: {
                            required: true,
                            minlength: 10
                        }
                    },
                    messages: {
                        Comentario: "Debe escribir un comentario de mínimo 10 carárteres"
                    },
                    submitHandler: function (form, event) {
                        event.preventDefault();

                        var comentario = $(form).find('[name="Comentario"]').val();
                        var escala = $(form).find('[name="Escala"]:checked').val();

                        if (escala === undefined) {
                            var aviso = "@Html.Raw(Web.Util.SweetAlertHelper.Mensaje("Cuidado", "Debe calificar al cliente", Web.Util.SweetAlertMessageType.warning))"
                            eval(aviso);
                        }
                        else {
                            $.ajax({
                                method: "POST",
                                url: "/Pedido/SaveEvaluacion",
                                data: { idEvaluador, idEvaluado, idPedido, comentario, escala },
                                success: function (result) {

                                    if (result.success) {

                                        
                                        $("#loaderSpinner").removeClass("d-none");
                                        $.ajax({
                                            method: "GET",
                                            url: "/Pedido/EvaluacionPedidoVendedor",
                                            data: { idPedido, idUsuario: idEvaluador },
                                            success: function (html) {
                                                $(`#contenedorEvaluacion${idPedido}`).html("");
                                                $(`#contenedorEvaluacion${idPedido}`).html(html);
                                                $("#loaderSpinner").addClass("d-none");
                                            },
                                            error: function (xhr, status, error) {
                                                console.log("error" + error, "no Error: " + xhr.status)

                                            }
                                        });
                                    }

                                },
                                error: function (xhr, status, error) {
                                    console.log("error" + error, "no Error: " + xhr.status)

                                }
                            });
                        }
                    }
                });

                $(this).html("");
                $(this).html('<i class="fa-solid fa-x"></i> Cancelar');

            }
            else {
                var idcontenedor = `#contenedorEvaluacionForm${idPedido}`;
                $(idcontenedor).html("");
                $(this).html("");
                $(this).html('<i class="fa-solid fa-star"></i> Calificar Cliente');
            }

        });

</script>

}