
@{
    ViewBag.Title = "ByteStore - Reportes para Administrador";
}

<h2 class="text-center text-decoration-underline border-3 text-light rounded-4 w-auto mb-4">Reporte de Compras</h2>
<hr class="mb-4" />

<div class="row justify-content-center mb-4 p-3">
    <div class="reporte col-md-6 border border-4 border-primary text-light fw-bold rounded-4 bg-light mb-4 g-1">
        <h5 class="mb-2 text-center text-black p-3">Cantidad de Compras Registradas en el Día</h5>
        <canvas id="comprasDia"></canvas>
    </div>
    <div class="reporte col-md-6 border border-4 border-success text-light fw-bold rounded-4 bg-light mb-4 g-1">
        <h5 class="mb-2 text-center text-black p-3">Top 5 Productos más Comprado en el Mes</h5>
        <canvas id="topProductosVendidosMes"></canvas>
    </div>
</div>

<hr class="mb-4" />

<h2 class="text-center text-decoration-underline border-3 text-light rounded-4 w-auto mb-4">Reporte de Vendedores</h2>
<hr class="mb-4" />

<div class="row justify-content-center mb-4">
    <div class="reporte col-md-6 border border-4 border-info text-light fw-bold rounded-4 bg-light mb-4">
        <h5 class="mb-2 text-center text-black p-3">Vendedores con Mejor Evaluación</h5>
        <canvas id="mejorEvaluacion"></canvas>
    </div>
    <div class="reporte col-md-6 border border-4 border-warning text-light fw-bold rounded-4 bg-light">
        <h5 class="mb-2 text-center text-black p-3">Vendedores con Peor Evaluación</h5>
        <canvas id="peorEvaluacion"></canvas>
    </div>
</div>

<style type="text/css">

    .reporte {
        transition: all 0.3s;
    }

    .reporte:hover {
        transform: scale(1.1);
    }

</style>

@section Scripts {

    <!--Librería para gráficos-->


    <script type="text/javascript">


        $(document).ready(function () {

            $.ajax({
                method: "GET",
                url: "/Reportes/GetCantComprasRegistradasEnElDia",
                data: {},
                success: function (result) {

                    var ctx = $('#comprasDia')[0].getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Hoy'],
                            datasets: [{
                                label: 'Cantidad Total',
                                data: [result.CantComprasRegistradasEnElDia],
                                backgroundColor: 'rgba(255,215,0, 0.5)',
                                borderColor: 'rgba(255,215,0,1)',
                                borderWidth: 2
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                },
                            }
                        }
                    });

                },
                error: function (xhr, status, error) {
                    console.log("error" + error, "no Error: " + xhr.status)
                }
            });

            $.ajax({
                method: "GET",
                url: "/Reportes/GetTopProductosVendidosByMes",
                data: {},
                success: function (result) {

                    var ctx = $('#topProductosVendidosMes')[0].getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: result.lista.map(p => p.NombreProducto),
                            datasets: [{
                                label: 'Cantidad Comprada',
                                data: result.lista.map(p => p.TotalVendidos),
                                backgroundColor: 'rgba(43, 94, 33, 0.5)',
                                borderColor: 'rgba(43, 94, 33 , 1)',
                                borderWidth: 2
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });

                },
                error: function (xhr, status, error) {
                    console.log("error" + error, "no Error: " + xhr.status)
                }
            });

            $.ajax({
                method: "GET",
                url: "/Reportes/GetVendedoresMejorEvaluados",
                data: {},
                success: function (result) {

                    console.log(result)

                    var ctx = $('#mejorEvaluacion')[0].getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: result.lista.map(p => `${p.Nombre} ${p.PrimerApellido}`),
                            datasets: [{
                                label: 'Evaluación',
                                data: result.lista.map(p => p.PromedioEvaluaciones),
                                backgroundColor: 'rgba(46, 175, 249, 0.5)',
                                borderColor: 'rgba(46, 175, 249, 1)',
                                borderWidth: 2
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });

                },
                error: function (xhr, status, error) {
                    console.log("error" + error, "no Error: " + xhr.status)
                }
            });

            $.ajax({
                method: "GET",
                url: "/Reportes/GetVendedoresPeorEvaluados",
                data: {},
                success: function (result) {

                    var ctx = $('#peorEvaluacion')[0].getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: result.lista.map(p => `${p.Nombre} ${p.PrimerApellido}`),
                            datasets: [{
                                label: 'Evaluación',
                                data: result.lista.map(p => p.PromedioEvaluaciones),
                                backgroundColor: 'rgba(249, 46, 65, 0.5)',
                                borderColor: 'rgba(255, 0, 23 , 1)',
                                borderWidth: 2
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                },
                error: function (xhr, status, error) {
                    console.log("error" + error, "no Error: " + xhr.status)
                }
            });
        });

    </script>
}